/*=============================================================
    Authour: Víctor Saborío hernández 


    Proyecto programado para el curso Introducción al desarrollo de aplicaciones
    Web, 2016.
   
    ========================================================  */


/*=======================================
    ESTILO TABLA
==================================================*/
.demo {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.demo th {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 20px;
    border:1px solid #C0C0C0;
    padding:5px;
    background:#FF8000;
}
.demo td {
    border:1px solid #C0C0C0;
    padding:5px;
}

footer{
    text-align: center;
    color: #FFFFFF;
    background: #000000;
}